body, html {
  color: #333;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%; }

* {
  box-sizing: border-box; }

.App-header {
  padding: 10px; }

.App-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 640px;
  width: 100%; }
